/* 모듈 */

@font-face {
  font-family: 'NanumSquareRoundR';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundR.woff2) format('woff2'), url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundR.woff) format('woff')
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  font-style: normal;
  font-weight: 700;
  src: url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff2) format('woff2'), url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff) format('woff')
}

@font-face {
  font-family: 'GodoM';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

/* 배경 */

body {
    color: #3E3A39;
    font-family: NanumSquareRoundR;
    background: none;
    letter-spacing: -0.5px !important;
}

/* 로고 */

header>#header-area>a>h1 {
    background: url(//upload.tgd.kr/20181231/abd98415f898a8ac89f964858ef411fc.png) no-repeat;
    background-size: auto 32px;
}

/* 검색 창 */

header > #header-search-bar #header-search-input {
    border: 2px solid #3E3A39;
    border-radius: 15px;
}

/* 검색 버튼 */

header>#header-area>#header-search-link {
    color: #3E3A39;
}

header > #header-search-bar #header-search-btn {
    color: #3E3A39;
}

/* 헤더 */

header {
    border-bottom: 4px solid #3E3A39;
    border-top: 4px solid #3E3A39;
    border-radius: 15px;
    background: #F5F5DC;
}

/* 상단 배너 광고 뱃지 */

#header-top-notice strong.notice-badge {
    background: #3E3A39;
}

/* 메인 배너 */

#header-top-notice {
    border-top: 4px solid #3E3A39;
    border-radius: 15px 15px 0 0;
}

.pagination-area:last-child {
    border-radius: 0 0 15px 15px;
    border-bottom: 4px solid #3E3A39;
}

/* 메인 배너 스트리머 닉네임 */

#board-info>h1>a {
    color: #3E3A39;
    font-family: GodoM;
    font-weight: 200;
}

/* 메인 배너 순위 */

.badge {
    background-color: #FF6699;
}

/* 접속자 수 */

#viewers-area .fa-user {
    width: 14px;
    height: 14px;
    background-image: url(https://static-cdn.jtvnw.net/badges/v1/573697c9-1e80-4485-94e9-642f7aa82e8e/2);
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#board-info #viewers-area {
    color: #3399CC;
}

#board-info #viewers-area #viewers:before {
    content: "트수 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 돌게더 눈팅중";
    cursor: text;
}

/* 메인 배너 카테고리 */

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #F1F1CC;
}

#article-list #article-list-category {
    background: none;
}

#article-list #article-list-category>a {
    border-bottom: solid;
    color: #9966CC;
    background: none;
}

/* 메인 배너 글 공지 */

#article-list>.article-list-row.notice {
    background-color: #F5F5DC;
}

/* 글 추천 수 */

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #3E3A39;
}

/* 댓글 수 */

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    color: #9966CC;
}

/* 하트 */

.fa-heart:before {
    content: "\f004";
    color: #FF6633;
}

/* 글 작성자 */

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #9966CC;
}

/* 작성자 (스트리머) */

img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"] {
    content: url(//upload.tgd.kr/20181231/566c69b79f7fbbd8b01b62296e2ee098.png?raw=true);
    width: 18px;
}

/* 작성자 (트게더 관리자) */

img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"] {
    content: url(//upload.tgd.kr/20181231/a4d14965f3372512d3845f665e1f7955.png?raw=true);
    width: 18px;
}

/* 인기글 버튼 */

#article-list-menu>.btn.best {
    border-radius: 15px;
}

/* 설정 버튼 */

#article-list-menu>.btn.cog {
    border-radius: 15px;
}

/* 글 쓰기 버튼 */

#article-list-menu>.btn.write {
    border-radius: 15px;
}

/* 페이지 */

.pagination>li>a, .pagination>li>span {
    color: #9966CC;
    border: none;
}

/* 현재 페이지 */

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #9966CC;
    border-color: #9966CC;
    border-radius: 15px;
}

/* 게시글 검색 */

.btn.square {
    border-radius: 15px 0 0 15px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    border-radius: 0 15px 15px 0;
}

/* 게시글 카테고리 */

#article-info>h2>span.category {
    font-family: GodoM;
}

/* 목록 버튼 */

.btn {
    border-radius: 15px;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 15px;
}

/* 게시글 추천 */

.btn-outline-success {
    color: #66CC99;
    border-color: #66CC99;
}

/* 게시글 비추천 */

.btn-primary {
    background-color: #3399CC;
    border-color: #3399CC;
}

.btn-outline-primary {
    color: #3399CC;
    border-color: #3399CC;
}

/* 게시글 내 댓글 수 */

#article-reply-area > .header h5 {
    color: #9966CC;
}

/* 댓글 작성자 */

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    color: #9966CC;
}

/* 댓글 헤더 우측 */

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    color: #3399CC;
}
