@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:focus {
    outline: none !important;
}

html {
    background: #DEF7BA;
    /* background: linear-gradient(45deg, #FFC0B0, #FECFAE, #FDDDAB, #FBECA9, #FAFAA6, #DEF7BA, #C5EAB1, #9FD9A4, #9ED2B2, #9CCBC0, #9BC3CE, #99BCDC, #98B5EA, #96A1E7, #969ADC, #9793D2, #978DC7, #9886BD, #987FB2); */
    height: auto;
}

body {
    background: transparent;
    height: auto !important;
    font-family: 'Binggrae';
}

header .row>div:nth-child(1)>a {
    display: block;
    width: 200px;
    height: 50px;
    background: url(https://cdn.discordapp.com/attachments/599950614730113034/635315250861965337/jonber_title.png) no-repeat;
    background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
}

header #right-search-form>input[type=text] {
    border: 3px solid #90d034;
    border-radius: 25px;
}

header #right-search-form>#right-search-btn {
    color: #90d034;
}

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {
    border-radius: 25px;
}

header #header-bar>.row {
    border: 3px solid #90d034;
}

.dropdown-menu>li>a {
    transition: .1s;
}

.dropdown-menu>li>a:hover {
    background: transparent;
    transform: scaleX(1.05);
    transition: .1s;
}

.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
    opacity: unset;
    transform: unset;
    border-radius: 15px;
}

.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);
    padding: 8px 0 3px 0px;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #90d034;
}

#main .menu-wrapper>a {
    border: none;
}

#main .menu-wrapper {
    border: none;
}

#main .menu-wrapper>.header {
    border: 3px solid #90d034;
    border-radius: 25px;
    background: #ffffff;
    color: #90d034;
}

#main .menu-wrapper>.header>a {
    color: #90d034;
}

#main .menu-wrapper>a {
    background: none;
    color: #90d034;
}

#main .menu-wrapper .spacer {
    background: none;
    height: 0px;
}

img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"] {
    display: none;
}

#main #main-content>div.frame {
    border: 3px solid #90d034;
}

#board-info {
    overflow: visible;
}

#board-info h1 {
    border-bottom: 1px solid #90d034;
}

#main .menu-wrapper>a>em {
    color: #90d034;
}

#main .menu-wrapper>a>i.fa.fa-square {
    color: #90d034;
}

#main .menu-wrapper>a.more {
    color: #90d034;
}

#main .menu-wrapper>a:hover {
    background: none;
}

/* 메인 배너 게시판 접속자 수 */

#board-info #viewers-area {
    color: #90d034;
}
/*
#board-info #viewers-area #viewers:before {
    content: "";
}
*/
#board-info #viewers-area #viewers:after {
    content: "00% 떡상 가즈아ㅏㅏㅏㅏ";
}

#article-list #article-list-category {
    background: none;
    border: 3px solid #90d034;
    border-radius: 25px;
}

#article-list #article-list-category>a {
    background: none;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #90d03480;
}

#article-list #article-list-category>a:nth-child(1) {
    border-radius: 25px 0 0 25px;
}

#article-list>.article-list-row {
    border: solid 1px #90d034;
    border-radius: 25px;
    margin: 4px 0;
}

#article-list>.article-list-row.notice {
    background-color: #90d03480;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border: 0;
}

#article-list>.article-list-row>.item>.list-title>.list-writer {
    text-align: right;
    border-left: none;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #90d034;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #90d034;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: #90d034;
}

#article-list>.article-list-row:hover {
    background: #90d03480;
}

#article-list #article-option-area {
    right: 16px;
    top: 2px;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
     border-radius: 20px;
}

i.fa.fa-home {
    color: #90d034;
}

#article-list>.article-list-row:hover>.item>.list-header.v0>span {
    background: none;
    color: #00000000;
}

#article-content-wrapper>.header {
    border-top: solid 2px #90d034;
}

#main .menu-wrapper>a.schedule-link>.time {
    color: #90d034;
}
