body, html {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    overflow: hidden;
}

body:before {
    display: block;
    content: '';
    color: #00000080;
    font-size: 20px;
    padding: 0.2rem 0 0 0.5rem;
    position: fixed;
    bottom: 0.5rem;
    left: 0.8rem;
    width: calc(100% - 2.0rem);
    height: 1.3rem;
    background: #f5f5dc;
    border-radius: 0.25rem;
    z-index: 1000;
    cursor: text;
}

body:after {
    display: block;
    content: '2019/04/18'; /* 이 부분은 날짜에 맞춰서 수정해야 함 */
    position: fixed;
    bottom: 0.5rem;
    cursor: text;
    z-index: 1000;
    color: #00000080;
    font-size: 20px;
    right: 1.2rem;
    height: 1.3rem;
}

#log {
    font: 0.8em 'Binggrae', serif;
    word-spacing: -2px !important;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    padding: 0 0.5em 0.1em;
    width: 100%;
    box-sizing: border-box;
}

#log > div {
    padding: 0.2em 0.5em;
    margin: -0.3em 0.3em 0.7em 0.3em;
    animation: none;
}

#log > [class=''] {
    color: #ffffff;
}
.meta {
    margin-right: -0.5em;
    font-weight: 700;
    color: inherit !important;
}

.message {
    line-height: 1.5em;
    margin-top: 0.9em;
    font-weight: 400;
}

.deleted {
    visibility: hidden;
}

.badge, .colon, .name, .message {
    vertical-align: middle;
}

.badge {
    display: none;
}

.name {
    margin-right: 0.7em;
}

.name:before {
    content: "[";
}

.name:after {
    content: "]";
}

.broadcaster {
    color: #ff7777;
}

.badge {
    margin-right: 0.3em;
    height: 1em;
}

.colon {
    display: none;
}

.message > img {
    height: 1em;
}

.emote_wrap {
    position: relative;
}

.emoticon {
    height: 24px;
    vertical-align: middle;
    margin: -0.1em 0;
    image-rendering: pixelated;
}

img.badge.broadcaster-icon {
    display: none;
}

.moderator.partner {
    display: none;
}
